<div class="container">
    <div style="padding: 8px; border: 10px inset rgb(101, 119, 221); word-wrap: break-word; margin-top:100px">
        <h3>Họ Tên: Nguyễn Ngọc Mạnh</h3>
        <h3>MSSV: 1712589</h3>
        <h3>Team: HCMUS-EC-20C86</h3>
        <h3>Exercise: EC-Payment (Momo Payment)</h3>
    </div>
    <div style="margin-top: 100px; text-align:center;">
        <a class="btn btn-danger" href="/payment" type="button">Test Thanh Toán Momo</a>
    </div>
</div>
